.doc,
.arglists,
.vartype {
 font-family: Monaco, monospace;
//line-height: 1.5;
//font-size: 14px
}

.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
	font-size: 14px;
	}
	
	body .syntaxhighlighter code,
              body .syntaxhighlighter table caption,
              body .syntaxhighlighter .gutter {
              font-size: 14px !important;
              line-height: 20px;
              }
              

span.ns {
color: gray;
}

li.var {
margin-bottom: 10px;
-moz-user-select: none;
-webkit-user-select: none;
}

#q {
display:inline;   
margin-bottom: 5px; 
}

#lang {
display:inline;
width:120px;
margin-bottom: 5px;
}

form {
margin-bottom: 5px;
}